// Text color variables
$textColorWhite: #fff;
$textColorDark: #131717;
$textLightColor: #566363;
$textLighterColor1: #889595;
$textLighterColor2: #a6b6b6;
$textLighterColor3: #696c74;
$textLighterColor4: #a4a7b0;
$textOrangeColor: #f86624;
$textGreenColor: #005d63;
$textYellowColor: #ffd44d;

// Color variables
$greenColor1: #005d63;
$greenColor2: #1e787d;
$whiteColor: #fff;
$darkColor: #131717;
$yellowColor: #ffd44d;
$yellowLightColor: #edd08f;
$yellowLighterColor: #f1deb4;
$darkGrayColor: #404b4b;
$gayColor: #c4d1d0;
$whiteColor: #fff;
$pinkColor: #fff0e9;

// buttons
$buttonHoverColor: #00383c;

// Filter color
$filterWhiteColor: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7438%) hue-rotate(113deg) brightness(114%) contrast(91%);

$filterGreenColor1: brightness(0) saturate(100%) invert(24%) sepia(88%)
    saturate(743%) hue-rotate(143deg) brightness(95%) contrast(102%);
