@mixin flex-center {
    display: flex;
    align-items: center;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $max-width: map-get($grid-breakpoints, $key);

    @media (min-width: $max-width) {
        @content;
    }
}
