$fontFamily: "Roboto Slab", serif;
$box-shadown-1: 0 0 40px rgba(0, 0, 0, 0.06);
$box-shadown-2: 0 40px 160px -35px rgba(0, 0, 0, 0.06);
$box-shadown-2-2: 0 40px 160px -60px rgba(0, 0, 0, 0.04);
$box-shadown-3: 0px 20px 60px 0px rgba(30, 42, 57, 0.04);
$box-shadown-4: 0px 20px 60px 0px rgba(30, 42, 57, 0.1);
