@use "../abstracts";
.dot-controls {
    @include abstracts.flex-center();
    gap: 12px;

    > span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #dac1ab;
        cursor: pointer;

        &.active {
            width: 12px;
            height: 12px;
            background: #ffa654;
            cursor: default;
        }
    }
}
