<div class="container">
    <div class="footer__top">
        <h3 class="footer__title">Excellent</h3>
        <div class="footer__stars">
            <img src="./assets/icon/star-2.svg" alt="" />
            <img src="./assets/icon/star-2.svg" alt="" />
            <img src="./assets/icon/star-2.svg" alt="" />
            <img src="./assets/icon/star-2.svg" alt="" />
            <img src="./assets/icon/star-2.svg" alt="" />
        </div>
        <p class="footer__desc">Based on 13,586 reviews</p>
        <div class="footer__trustpilot">
            <img src="./assets/icon/star-green.svg" alt="" />
            Trustpilot
        </div>
    </div>

    <div class="footer__separate"></div>
    <div class="footer__body">
        <div class="footer__row">
            <div class="footer__column">
                <h3 class="footer__title">Customer Service</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">FAQs</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Order Lookup</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Returns</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Shipping & Delivery</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Corporate Gifting</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">About Us</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">News & Blog</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Press Center</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Investors</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Suppliers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">Credit Card</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Gift Cards</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Gift Cards Balance</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Shop with Points</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Reload Your Balance</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">Sell</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Start Selling</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Learn to Sell</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Affiliates & Partners</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title">Follow us</h3>
                <div class="social">
                    <div class="social__list">
                        <a href="#!" class="social__item">
                            <img src="./assets/icon/facebook.svg" alt="" />
                        </a>
                        <a href="#!" class="social__item">
                            <img src="../assets/icon/linked.svg" alt="" />
                        </a>
                        <a href="#!" class="social__item">
                            <img src="./assets/icon/twitter.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <div class="footer__bottom-row">
            <a href="/" class="logo">
                <img src="./assets/icon/logo.svg" alt="" />
                <span class="logo__text logo__text--footer">Pursuit</span>
            </a>
            <div class="payment__list">
                <img src="./assets/icon/paypal.svg" alt="" />
                <img src="./assets/icon/visa.svg" alt="" />
                <img src="./assets/icon/mastercard.svg" alt="" />
            </div>
            <p class="copyright">Copyright © 2022 UIHUT All Rights Reserved</p>
        </div>
    </div>
</div>
