<div class="container">
    <div class="top-bar">
        <a href="/" class="logo">
            <img src="./assets/icon/logo.svg" alt="Logo" class="icon" />
            <span class="logo__text">Pursuit</span>
        </a>
        <div class="top-bar__act">
            <a href="#!" class="top-bar__user">
                <img
                    src="./assets/icon/avatar.svg"
                    alt=""
                    class="top-bar__avatar"
                />
            </a>
            <a href="#!" class="top-bar__favourite">
                <img src="./assets/icon/favourite.svg" alt="" class="icon" />
                <span>(0)</span>
            </a>
            <a href="#!" class="top-bar__cart">
                <img src="./assets/icon/bag.svg" alt="" />
                <span>(0)</span>
            </a>
        </div>
        <button class="top-bar__more d-lg-none">
            <img src="./assets/icon/menu.svg" alt="" />
            <span> Menu </span>
        </button>
        <nav class="navbar d-none d-lg-block">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Home </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Category
                        <img src="./assets/icon/arrow-down.svg" alt="" />
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu__inner">
                            <ul class="dropdown-menu__list">
                                <li>
                                    <a
                                        href="./men-fashion.html"
                                        class="dropdown-menu__link"
                                        >Men Fashion</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="./women-fashion.html"
                                        class="dropdown-menu__link"
                                        >Women Fashion</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Kids Fashion</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Baby Fashion</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="./electronics.html"
                                        class="dropdown-menu__link"
                                        >Electronics</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Computer Device</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Beauty Products</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Furniture</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Smart Watch</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Modern Shoes</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Jewelry</a
                                    >
                                </li>
                                <li>
                                    <a href="#!" class="dropdown-menu__link"
                                        >Home Products</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Brand
                        <img src="./assets/icon/arrow-down.svg" alt="" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Products
                        <img src="./assets/icon/arrow-down.svg" alt="" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        About
                        <img src="./assets/icon/arrow-down.svg" alt="" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Shop </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Page
                        <img src="./assets/icon/arrow-down.svg" alt="" />
                    </a>
                </li>
            </ul>
        </nav>
        <div class="top-bar__search">
            <input
                type="text"
                placeholder="Search for anything"
                class="top-bar__input"
            />
            <div class="top-bar__search-icon">
                <img src="./assets/icon/search.svg" alt="" />
            </div>
        </div>
    </div>
</div>
